<div class="container mt-4 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="title-button-containers">
        <div class="title-container">
          <span class="h1">Lista de establecimientos</span>
        </div>
        <div class="button-container">
          <button
            class="btn btn-outline-primary"
            (click)="openDialogNewPlace()"
          >
            Crear establecimiento
          </button>
        </div>
      </div>
      <table class="table table-striped mt-2">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Fecha últ. actualización</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let place of listPlaces; let i = index">
            <td>
              <div class="places-name">{{ place.name }}</div>
            </td>
            <td>
              <div class="places-description">{{ place.description }}</div>
            </td>
            <td>
              <div class="places-image">{{ place.image }}</div>
            </td>
            <td>
              <div class="places-date">{{ place.date }}</div>
            </td>
            <td>
              <table>
                <td>
                  <button
                    mat-raised-button
                    class="btn-editar"
                    (click)="openDialogEditPlace(i)"
                  >
                    Editar
                  </button>
                </td>
                <td>
                  <button mat-raised-button class="btn-ver">Ver</button>
                </td>
                <td>
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="deletePlace(i)"
                  >
                    Eliminar
                  </button>
                </td>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
