<div class="container mt-4 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="title-button-containers">
        <div class="title-container">
          <span class="h1">Lista de establecimientos</span>
        </div>
        <div class="button-container">
          <button
            class="btn btn-outline-primary"
            (click)="openDialogNewPlace()"
          >
            Crear establecimiento
          </button>
        </div>
      </div>
      <ng-container *ngIf="listPlaces.length > 0; else emptyPlaces">
        <table class="table table-striped mt-2">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Dirección</th>
              <th>Ciudad</th>
              <th>Teléfono</th>
              <th>Fecha últ. actualización</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let place of listPlaces; let i = index">
              <td>
                <div class="places-name">{{ place.name }}</div>
              </td>
              <td>
                <div class="places-description">{{ place.description }}</div>
              </td>
              <td>
                <div class="places-streetAddress">
                  {{ place.streetAddress }}
                </div>
              </td>
              <td>
                <div class="places-city">{{ place.city }}</div>
              </td>
              <td>
                <div class="places-phoneNumber">{{ place.phoneNumber }}</div>
              </td>
              <td>
                <div class="places-date">{{ place.date }}</div>
              </td>
              <td>
                <table>
                  <td>
                    <button
                      mat-raised-button
                      class="btn-editar"
                      (click)="openDialogEditPlace(i, 1)"
                    >
                      Editar
                    </button>
                  </td>
                  <td>
                    <button
                      mat-raised-button
                      class="btn-ver"
                      (click)="openDialogEditPlace(i, 2)"
                    >
                      Ver
                    </button>
                  </td>
                  <td>
                    <button
                      mat-raised-button
                      color="warn"
                      (click)="deletePlace(i)"
                    >
                      Eliminar
                    </button>
                  </td>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-template #emptyPlaces>
        <p class="no-places mt-4">
          No hay establecimientos disponibles. Para crear uno, pulse el botón
          'Crear establecimiento'. Compruebe también que esté con conexión a
          internet.
        </p>
      </ng-template>
    </div>
  </div>
</div>
