<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista de noticias</span>
      <table class="table table-striped mt-2">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Imagen</th>
            <th>Fecha publicación</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Benito Vaquero</td>
            <td>sssss</td>
            <td>ssss</td>
            <td>01/06/2023</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
