<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="title-button-containers">
        <div class="title-container">
          <span class="h1">Lista de noticias</span>
        </div>
        <div class="button-container">
          <button class="btn btn-outline-primary" (click)="openDialogNewNews()">
            Crear noticia
          </button>
        </div>
      </div>
      <table class="table table-striped mt-2">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Imagen</th>
            <th>Fecha publicación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let news of listNews; let i = index">
            <td>{{ news.title }}</td>
            <td>{{ news.description }}</td>
            <td>{{ news.image }}</td>
            <td>{{ news.date }}</td>
            <td>
              <table>
                <td>
                  <button
                    mat-raised-button
                    class="btn-editar"
                    (click)="openDialogEditNews(i)"
                  >
                    Editar
                  </button>
                </td>
                <td>
                  <button mat-raised-button class="btn-ver">Ver</button>
                </td>
                <td>
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="deleteNews(i)"
                  >
                    Eliminar
                  </button>
                </td>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
