.navbar{
    background-color: #109B86;
    border-radius: 10px;
}

.toolbar-content {
    display: flex;
    width: 100%;
    margin-left: 2%;
}

.logo {
    width: 3%;
    height: auto;
}

.link{
    text-decoration: none;
    margin-right: 1%;
}

.link:hover {
    color: rgb(255, 187, 60);
}
