.navbar{
    background-color: #109B86;
    border-radius: 10px;
}

.toolbar-content {
    display: flex;
    width: 100%;
    margin-left: 2%;
}

.logo {
    width: 2%;
    height: auto;
    margin-right: 2%;
}

.link{
    text-decoration: none;
    margin-right: 1%;
}

.link:hover {
    color: rgb(255, 187, 60);
}

.login{
    display: flex;
  justify-content: flex-end;
  align-items: center;
}