<div mat-dialog-title>{{ modalTitle }}</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre </mat-label>
    <input
      matInput
      [(ngModel)]="name"
      [readonly]="opc === 2"
      required
      pattern="^[^.]*$"
    />
    <mat-error>El nombre no puede contener puntos (.)</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción </mat-label>
    <textarea
      matInput
      [(ngModel)]="description"
      [readonly]="opc === 2"
      rows="8"
      required
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dirección </mat-label>
    <input
      matInput
      [(ngModel)]="streetAddress"
      [readonly]="opc === 2"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ciudad </mat-label>
    <input matInput [(ngModel)]="city" [readonly]="opc === 2" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Número de télefono </mat-label>
    <input matInput [(ngModel)]="phoneNumber" [readonly]="opc === 2" required />
  </mat-form-field>
  <mat-form-field *ngIf="opc === 2">
    <mat-label>Imagen </mat-label>
    <input matInput [(ngModel)]="image" [readonly]="opc === 2" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Coordenadas </mat-label>
    <input matInput [(ngModel)]="coordinates" [readonly]="opc === 2" required />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-button (click)="editPlace()" *ngIf="opc !== 2">Editar</button>
</div>
