<div mat-dialog-title>{{ modalTitle }}</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre </mat-label>
    <input matInput [(ngModel)]="name" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción </mat-label>
    <textarea matInput [(ngModel)]="description" required></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dirección </mat-label>
    <input matInput [(ngModel)]="streetAddress" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ciudad </mat-label>
    <input matInput [(ngModel)]="city" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Número de télefono </mat-label>
    <input matInput [(ngModel)]="phoneNumber" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Imagen </mat-label>
    <input matInput [(ngModel)]="image" required />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-button (click)="createPlace()">Crear</button>
</div>
