<div mat-dialog-title>{{ modalTitle }}</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Título </mat-label>
    <input matInput [(ngModel)]="title" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contenido </mat-label>
    <textarea matInput [(ngModel)]="description" required></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fuente </mat-label>
    <textarea matInput [(ngModel)]="source" required></textarea>
  </mat-form-field>
  <mat-label>Imagen </mat-label><br />
  <input type="file" (change)="onFileSelected($event)" accept="image/png" />
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-button (click)="createNews()">Crear</button>
</div>
